.footer-section {
  font-family: "Montserrat";
  position: relative;
}

.footer-title p {
  line-height: 160%;
}

.align-self {
  align-self: center;
  color: #836868;
}

.footer-icon p {
  float: right;
}

.footer-icon span {
  color: #005398;
}
.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #005398;
}
.footer-connor {
  position: absolute;
  top: 30%;
  z-index: -3;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-edge {
  position: absolute;
  top: 200px;
  right: 0px;
}
.footer-content {
  padding-left: 40px;
  margin-top: 20px;
  padding-right: 40px;
}
.footer-content i {
  color: #ffffff;
  font-size: 18px;
}
.footer-title h1 {
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
}
.footer-content-title {
  font-size: 48;
  color: #005398;
  font-weight: bold;
  font-family: "Montserrat";
  text-align: justify;
}
.footer-content-intro {
  font-family: "Montserrat";
  color: #505050;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
}

.about-us h5 {
  color: #005398;
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat";
}
.about-us-detail {
  font-size: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #505050;
}
.join-us h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.join-us p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
}
.join-us {
  text-align: center;
}
.join-us button {
  background-color: #005398;
  padding: 30px 200px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}
.footer-title p {
  color: #dfdfdf;
  font-size: 14px;
  font-family: Montserrat;
}
