button,button:focus {
  border: none;
  outline: none;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #136FCA;
}

* {
  margin: 0;
  padding: 0;
}

.animate-ltr {
  transform: translateX(-150%);
}

.animate-rtl {
  transform: translateX(150%);
}

.animate-left-to-right {
  animation-name: animate-left-to-right;
  animation-duration: 1s;
}

.animate-right-to-left {
  animation-name: animate-right-to-left;
  animation-duration: 1s;
}

@keyframes animate-left-to-right {
  from {transform: translateX(-150%);}
  to {transform: translateX(0);}
}

@keyframes animate-right-to-left {
  from {transform: translateX(150%);}
  to {transform: translateX(0);}
}
