button,button:focus {
  border: none;
  outline: none;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #136FCA;
}

* {
  margin: 0;
  padding: 0;
}