.header {
  position: relative;
  height: 1411px;
  width: 100%;
}
.header-welcome-container {
  height: 1411px;
  width: 100%;
  background-image: url('/public/images/header.min.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.header-welcome-text-container {
  position: absolute;
  top: 20%;
  left: 10%;
}
.header-welcome-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.header-brand {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
}
.header-description {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  max-width: 390px;
}
.header-button {
  border-radius: 8px;
  background: #3F3D56;
  color: #FFFFFF;
  width: 202px;
  padding: 1rem 1rem;
  transition: 0.2s;
}
.header-button-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}
.header-button:hover  {
  background-color: #5b5977;
}

@media (max-width: 575.98px) {
  .header-welcome-text-container {
    text-align: center;
  }
  .header-welcome-text {
    font-size: 30px;
  }
  .header-brand {
    font-size: 65px;
  }

}

@media (max-width: 767.98px) { }

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) { }
