.introduction-container {
  margin-top: -410px;
  margin-bottom: 100px;
  padding-right: 7rem;
  padding-left: 5rem;
}
.introduction {
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.introduction-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #136FCA;
}
.introduction-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  text-align: justify;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .introduction {
    padding-top: 1rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .introduction-container {
    margin-top: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@keyframes smooth-male-left-to-right {
  100% {
    left:-10%;
    opacity: 1;
  }
}
.smooth-slide-phone-1 {
  width:55%;
  position: absolute;
  bottom:5%;
  left:-20%;
  opacity: 0;
}
.start-slide-1 {
  animation: smooth-male-left-to-right 1s forwards;
}
@keyframes smooth-female-right-left {
  100% {
    right: 20%;
    opacity: 1;
  }
}
.smooth-slide-phone-2 {
  width:20%;
  position: absolute;
  bottom:15%;
  right: 0;
  opacity: 0;
}
.start-slide-2 {
  animation: smooth-female-right-left 1s forwards;
}