.introduction-container {
  margin-top: -510px;
  padding-right: 7rem;
  padding-left: 5rem;
}
.introduction {
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.introduction-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #136FCA;
}
.introduction-subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  text-align: justify;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .introduction {
    padding-top: 1rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .introduction-container {
    margin-top: 0px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}