.team-container {
    padding-right: 12rem;
    padding-left: 12rem;
    background: url('../images/team.min.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    height: 1200px;
}

.slider-header {
    justify-content: center;
}

.slider-header-child {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    font-family: Montserrat;
    padding: 0px !important;
}

.slider-item-avatar {
    padding: 12px;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgba(18, 111, 203, 0.13);
    display: flex;
}

.slider {
    margin-top: 6rem;
}
