.team-container {
    padding-right: 12rem;
    padding-left: 12rem;
    background: url('../images/team.min.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    margin-bottom: 5rem;
}

.slider-header {
    justify-content: center;
}

.slider-header-child {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    font-family: Montserrat;
    padding: 0px !important;
}

.slider-header-child:hover {
    color: #136FCA;
}

.slider-item-avatar {
    padding: 12px;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgba(18, 111, 203, 0.13);
    display: flex;
}

.slider {
    margin-top: 6rem;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .team-container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}