.user-container {
  padding-right: 12rem;
  padding-left: 12rem;
  background: url('../images/user-background.min.svg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 1200px;
}
.user-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #136FCA;
}
.user-content {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #136FCA;
}
.user-subcontent {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .user-container {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .user-container {
    margin-top: 0px;
    padding-right: 7rem;
    padding-left: 5rem;
    height: 1650px;
  }
}
